.header_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    /* outline: 1px solid red; */
}

.desktop_menu ul{
    list-style: none;
    flex-direction: row;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.mobile_menu ul {
    list-style: none;
    flex-direction: column;
    display: none;
    gap: 1.5rem;
    /* align-items: center; */
    /* justify-content: center; */
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    /* border: 1px solid #3e3e3e; */
    width: 100%;
    padding: 1rem;
    top: 0;
    left: 0;
    margin-top: 2rem;
    box-shadow: var(--shadow);
}

.mobile_menu {
    position: relative;
    /* background: red; */
    width: 250px;
}

.mobile_menu button{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    font-size: 25px;
    font-weight: 600;
}

.mobile_menu li a,
.desktop_menu li a{
    font-weight: 500;
    color: #3E3E3E;
}

.mobile_menu li.active a,
.desktop_menu li.active a{
    color: var(--qrpho);
    border-bottom: 2px solid var(--qrpho);
}

.mobile_menu li a:hover,
.desktop_menu li a:hover{
    color: var(--qrpho);
}

.mobile_menu li:last-child a,
.desktop_menu li:last-child a{
    border: 1px solid var(--qrpho);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    background-color: var(--qrpho);
}

.mobile_menu li:last-child a:hover,
.desktop_menu li:last-child a:hover{
    background-color: var(--qrpho-hover);
}


.qrpho-logo img{
    width: 150px;
    height: auto;
}

.mobile_menu{
    display: none;
}


@media screen and (max-width: 768px) {

    .desktop_menu{
        display: none;
    }

    .mobile_menu{
        display: block;
    }

    .qrpho-logo img{
        width: 130px;
        height: auto;
    }

    ul{
        gap: 1rem;
    }

    .mobile_menu li:last-child a{
        font-size: 13px;
        text-align: center;
        padding: .5rem;
        height: 45px;
    }

    .mobile_menu ul.show{
        display: flex;
    }

    .mobile_mune ul.hide{
        display: none;
    }
    
}